

.product-container {
    /* display: flex; */
    /* flex-direction: row; */
    width: 400px;
    height: 550px;
    /* justify-content: center; */
    margin: 50px;
    /* flex-wrap: wrap; */
    box-sizing: border-box;
    border: 5px solid black;
    /* background-image: linear-gradient(#FF8B8B,#EB4747); */
    background-image: linear-gradient(#856767,gray,black);
    min-width: 20%;
    box-shadow: 10px 10px 10px 5px black;
    border-radius: 20%;

}

.product-container:hover{
    /* text-shadow: 0.5px 0.5px; */
    /* color:black; */
    background-image: linear-gradient(#b48f8f, rgb(99, 95, 95),rgb(17, 16, 16));

}

/* .product-heading { */
    /* display: block; */
    /* background-color: black; */
/* } */

.product-image {
    /* display: flex; */
    width: 100%;
    height: 200px;
    /* margin:5px */
    
}

.product-image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}


/* .product-heading { */
    /* display: flex; */
    /* justify-content: center; */
    /* align-self: center; */
/* } */

.product-seller {
    display: flex;
    width: auto;
    height: 100px;
    justify-content: space-between;
    margin: 5px;
}

.product-seller img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.product-button {
    list-style: none;
    /* background-color: brown; */
}

.product-button button {
    background-color: brown;
    width: 40%;
    /* height: 80%; */
}

.product-button button:hover{
    background-color: rgb(124, 26, 26);
}




/* 

*, *::before, *::after {
    boxi-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    margin: 2rem,
    font-family: ....
}





*/