
.top-heading {
    font-size: x-large;
    color:black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.sub-heading {
    font-size: large;
    color: black;
    font-weight: bolder;
}