body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
  /* background-color: #bbe4e9; */
  /* background-image: linear-gradient(#8E2DE2, #4A00E0); */
  background-image: url('./shared/images/background/brick.jpg');
  background-attachment: fixed;   
  /* makes gradient fullscreen */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


